PORT=3000
WEBHOOK_SECRET=your_webhook_secret_here

REDIS_HOST=your_redis_host_here
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password_here
REDIS_DB=1
REDIS_TTL=300

AZURE_DEVOPS_ORG=https://dev.azure.com/your_org
AZURE_DEVOPS_PROJECT=your_project
AZURE_DEVOPS_PIPELINE_ID=0
AZURE_DEVOPS_PAT=your_azure_devops_pat_here

TARGET_USERS=your_email@example.com
